.u-section-1 .u-sheet-1 {
  min-height: 87px;
}

.u-section-1 .u-text-1 {
  margin: 18px 0;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 10px;
}.u-section-3 {
  background-image: url("images/europe-blank-map-hd.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 879px;
}

.u-section-3 .u-text-1 {
  font-weight: 300;
  margin: 477px auto 0;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 725px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 555px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 416px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 262px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 10px;
}