.u-section-1 .u-sheet-1 {
  min-height: 84px;
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/dark-website-backgrounds-11.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 736px;
}

.u-section-2 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 736px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-2 .u-image-1 {
  width: 177px;
  height: 92px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 33px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 0 10px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-2 .u-image-2 {
  width: 177px;
  height: 92px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 33px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 0 10px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-2 .u-image-3 {
  width: 177px;
  height: 92px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 33px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 0 10px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-2 .u-image-4 {
  width: 177px;
  height: 92px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 33px auto 0;
}

.u-section-2 .u-text-8 {
  margin: 0 10px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-2 .u-image-5 {
  width: 177px;
  height: 92px;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  margin: 33px auto 0;
}

.u-section-2 .u-text-10 {
  margin: 0 10px;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-2 .u-image-6 {
  width: 177px;
  height: 92px;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  margin: 33px auto 0;
}

.u-section-2 .u-text-12 {
  margin: 0 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 607px;
  }

  .u-section-2 .u-image-1 {
    height: 93px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 93px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 93px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 93px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    height: 93px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    height: 93px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1046px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 81px;
}.u-section-4 .u-sheet-1 {
  min-height: 448px;
}